@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
  font-family: "Poppins", sans-serif;
  height: 100%;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("src/img/bkgsamuel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(60px); 
  transform: scale(1.6);
  z-index: -1;
}
